{% extends "base.html" %} 

        {% block content %}
            <div style="text-align: center;">
                <h2 class="text-xl mb-2">The Following is Very Important and Secret Information</h2>
                <img src="https://uploads-ssl.webflow.com/5f3c19f18169b62a0d0bf387/60d33be7eedf8e1f31aabcec_BwENfmI0CU5dZGYlSyo142mpfG08-rYgTS-Qm47uMUXN6JXtmdZvtzVzTooUQdXTWmTD8uzF9N6XQJA2vUIMi53tunFyVtvOBJTNfOjHit2P_JkTmFzFsK7ep6Vb9781XZnRAryH.png" alt="Coding meme2" style="width:440px;height:500px;">
            </div>
        </section>

        <br/>

        {% endblock %}