{% extends "base.html" %} 

        {% block content %}
            <div style="text-align: center;">
                <h2 class="text-xl mb-2">The Following is Very Important and Secret Information</h2>
                <img src="https://uploads-ssl.webflow.com/5f3c19f18169b62a0d0bf387/60d33beacf4ba7263a23cd79_qh6ImC4NPdyPbvn-7ns8FYsgOskDPDWLnX31mLCOgSwpX_SQgmo8krqdg4e6XAnSbqRAtZMYqlf7UTvlHiXgt5YtMwbt9IRY1fAbOjyq5hARui-xEQUgI48EOjhJGuIsSFDg90L6.jpeg" alt="Coding meme1" style="width:400px;height:500px;">
            </div>
        </section>

        <br/>

        {% endblock %}